.search-icon {width: 20px;
              height: 20px;
              background-repeat: no-repeat;
              background-image: url(/search.svg);}

.male-icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url("/person.svg");
}

.female-icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url(/woman.svg);
}

.delete-icon {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url(/trash.svg);
}

.home-icon {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-image: url(/house.svg);
}

